<p>
  SQL analysis has been disabled for you. A cookie must be set to enable analysis. This generally slows down your browser, so it's only recommended for users analyzing SQL queries.
</p>
<p id="query_review_enable_link">
  <strong>
    <a href="#" onclick="createCookie('query_review_enabled', '1', 365); query_review_hide('query_review_enable_link'); alert('Cookie successfully set.');">
      Enable it
    </a>
  </strong> on next page load and from now on.
</p>
